option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: prjmgmt.wsgi:application
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static
container_commands:
  collectstatic:
    command: "python manage.py collectstatic --noinput"
  makemigrations:
    command: "python manage.py makemigrations"
    leader_only: true
  migrate:
    command: "python manage.py migrate"
    leader_only: true