option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: prjmgmt.settings
  aws:elasticbeanstalk:container:python:
    WSGIPath: prjmgmt.wsgi:application
    NumProcesses: 1
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static
container_commands:
  collectstatic:
    command: "python manage.py collectstatic --noinput"
  makemigrations:
    command: "python manage.py makemigrations"
    leader_only: true
  migrate:
    command: "python manage.py migrate"
    leader_only: true
  createsuperuser:
    command: source /var/app/venv/staging-*/bin/activate && cd /var/app/current/ && echo 'from django.contrib.auth.models import User; User.objects.create_superuser("admin", "admin", "m.h.oreaba@gmail.com")' | python manage.py shell
  chmod_user:
    command: chmod 775 /var/app/current/superuser.sh