option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: prjmgmt.settings
  aws:elasticbeanstalk:container:python:
    WSGIPath: prjmgmt.wsgi:application
    NumProcesses: 1
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static_files
  container_commands:
#    collectstatic:
#      command: "python manage.py collectstatic < <(yes yes)"
#   makemigrations:
#     command: "python manage.py makemigrations"
#     leader_only: true
#   migrate:
#     command: "python manage.py migrate"
#     leader_only: true
  # createsuperuser:
  #   command: "echo 'from django.contrib.auth.models import User; User.objects.create_superuser(\"admin\", \"m.h.oreaba@gmail.com\", \"admin\")' | python manage.py shell"
  #   leader_only: true
  # create_superuser:
  #   command: "source /var/app/venv/*/bin/activate && python manage.py mysuperuser"
  #   leader_only: true
  # 01_chmod1:
  #   command: "chmod +x .platform/hooks/postdeploy/01_migrate.sh"